html{
    scroll-behavior: smooth;
    scroll-padding-top: 10%;
    margin: 0;
    padding: 0;
}
body{
    background-color: #3d354b;
    color: white;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    background-color:#5b4965;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}
.ul1{
    display: flex;
    list-style: none;
}
li{
    margin: 0 1rem;
}
li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: large;
    text-transform: capitalize;
}
main{
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    height: 90%;
}
.container1{
display: flex;
justify-content: center;
align-items: center;
min-height: 100%;
margin-bottom: 80px;

}
.container2{
display: flex;
justify-content: center;
align-items: center;
min-height: 100%;
margin-top: 80px;
}
.container3{
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    }
.heading1{
    text-align: center;
    opacity: 0; /* this makes the text invisible so that we can make it appear using transformation */
    transform: translateX(100px);
    transition: opacity 0.5s, transform 1.5s; /* this adds a slight transition time so that it doesnt happen instantly. */

}
.p1{
    text-align: center;
    opacity: 0; /* this makes the text invisible so that we can make it appear using transformation */
    transform:translateX(-100px);
    transition: opacity 0.5s, transform 1.5s;
}

.heading1.visible, 
.p1.visible{
    opacity: 1;
    transform: translateX(0);
}
.heading2{
    text-align: center;
    opacity: 0; /* this makes the text invisible so that we can make it appear using transformation */
    transform:translateY(-100px);
    transition: opacity 0.5s, transform 1.5s;
}
.p2{
    text-align: center;
      opacity: 0; /* this makes the text invisible so that we can make it appear using transformation */
    transform:translateY(100px); /* this will be an animation on the y axis this will come up from the bottom  */
    transition: opacity 0.5s, transform 1.5s;
}
.heading2.visible,
.p2.visible{
    opacity: 1;
    transform: translateY(0);
}
.footer{
    height: 5%;
    opacity: .5;
    background-color: #5b4965;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}  
.github,
.linkedin{
    height: 30px;
    width: 30px;
}
.resume{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 850px;
    height: 850px;
    padding: 10px;
}
.Holden{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 300px;
}
.list1,
.listC{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
}
.list1{
    display: block;
    padding: 100px;
}
.pE{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}